@import url(http://fonts.googleapis.com/css?family=Raleway|Montserrat:400,700);

// font variables
$raleway: 'Raleway', serif;
$montserrat: 'Montserrat', sans-serif;

body {
  color: #363232;
  font-family: $raleway;
}

button {
  font-family: $montserrat;
  font-variant-caps: all-small-caps;
  font-size: 1rem; 
  background-color: #fff3a8;
}