@import 'base';
.nav-bar {
  display: flex;
  justify-content: space-between;
}

nav {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

footer {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}
