@import "base";

ul {
  list-style-type: none;
}

.parent-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.category {
  font-size: 1.75rem; // all categories fit on largest screen w/no vertical scroll
  padding: 0.15rem;
  cursor: pointer;
  color: #16a085;

  &:nth-child(2n + 1) {
    color: #2980b9;
  }

  &:nth-child(3n + 1) {
    color: #8e44ad;
  }
}

@media (max-width: 1674px) {
  .category {
    font-size: 0.87rem; // all categories fit on smallest screen w/no vertical scroll
  }
}

.grow:hover {
  background-color: white;
}
