<div>
  <div class="rec" *ngIf="recommendation">
    <div class="poster">
      <a href="https://kitsu.io/anime/{{recommendation.id}}">
        <img src="{{recommendation.poster.small}}" />
      </a>
    </div>
    <div class="description">
      <div class="title">
        <span class="text">{{recommendation.title}}</span>
      </div>
      <div class="synopsis">
        <p class="text">
          {{recommendation.synopsis}}
        </p>
      </div>
    </div>
  </div>

  <div class="action-buttons">
      <div class="active">
        <img class="arrow grow" (click)="previous($event)" src="assets/round-arrow_back-24px.svg">
        <span>Previous</span>
      </div>
      <div class="active">
        <img class="arrow grow" (click)="next($event)" src="assets/round-arrow_forward-24px.svg">
        <span>Next</span>
      </div>
    </div>
</div>

