<div>
  <div class="rec" *ngIf="recommendation">
    <div class="title-and-poster">
      <div class="title">{{recommendation.title}}</div>
      <div class="poster">
        <a href="https://kitsu.io/anime/{{recommendation.id}}">
          <img src="{{recommendation.poster.small}}" />
        </a>
      </div>
    </div>
    <div class="synopsis">{{recommendation.synopsis}}</div>
  </div>

  <!-- <div class="action-buttons">
      <div class="button">
        <img class="arrow" (click)="previous($event)" src="assets/round-arrow_back-24px.svg">
        <span>Previous</span>
      </div>
      <div class="button">
        <img class="arrow" (click)="next($event)" src="assets/round-arrow_forward-24px.svg">
        <span>Next</span>
      </div>
    </div> -->
</div>

